# ignore python bytecode files
*.pyc
*.egg-info

# ignore rdb files
*.rdb

# ignore ds_store files
.DS_Store
/.venv
/artifacts
/wandb/
/flashlight_custom_build/
/.cursor
/grid_search_results/
/submission_output/
/language_models/
*/__pycache__/
/cache/
/logs/
/models/checkpoints/